.theme {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.1)), url('../assets/images/review-star-optimized.jpeg') center/contain no-repeat fixed;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-position: center;
    background-size: 100%; 
    background-repeat: no-repeat;
    left: 0;
    background-size: cover;
}

.reviews-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center; 
    flex-wrap: wrap;
    margin-top: 6%;
  }
  
  .reviews-navbar a {
    text-decoration: none;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: bold;
    text-transform: none;
    flex-direction: column; 
    align-items: center; 
    color: rgb(162, 16, 206);
  }
  
.reviews-navbar a:hover {
  border-bottom: 2px solid rgb(162, 16, 206);
} 

