* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/* this is where global variables will be stored */
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  text-rendering: optimizelegibility;
}
